---
# Main SASS file
---
// English fonts
@import url('//fonts.googleapis.com/css?family=Montserrat:400,500|IBM+Plex+Sans:300,400,500');

// import sass files
@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";

// Defaults
@import "base.scss";


// Layouts
@import "header.scss";
@import "landing.scss";
@import "footer.scss";

// Modules
@import "media.scss";
@import "cards.scss";
@import "stats.scss";
@import "partnership.scss";

@import "helpers.scss";