<form name="popupnewsroom_contact" id="popupnewsroom-contact" class="contact-form" netlify-honeypot="bot" netlify>
	<div class="form-group" style="display: none;">
    <label>Don’t fill this out: <input name="bot"></label>
  </div>
  <div class="form-group">
  	<label for="company">Company Name</label>
  	<input type="text" name="company" placeholder="Company Name Co." required>
  </div>
  <div class="form-group">
  	<label for="name">Name</label>
  	<input type="text" name="name" placeholder="John Doe" required>
  </div>
  <div class="form-group">
  	<label for="country">Country</label>
  	<input type="text" name="country" placeholder="United States of America" required>
  </div>
  <div class="form-group">
  	<label for="email">Email</label>
  	<input type="email" name="email" placeholder="john.doe@companyname.com" required>
  </div>
  <div class="form-group form-group-last">
  	<label for="phone">Phone</label>
  	<input type="text" name="phone" placeholder="+1 251 456 789" required>
  </div>
	<button type="submit" class="button">Submit</button>
</form>