<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="j3S5R3dyss0_1r8cR0XyPFe5COLSpHs6B9GRnspXMPI" />

  <title>{{ site.title | escape }}</title>

  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">

</head>