<section class="content experience" id="experience">
      <div class="content-wrapper">
            <h2>Experience</h2>
            {% 
                  include media_image.html 
                  image="/images/P3070187.jpg"
                  caption_title="Collaboration Against Misinformation"
                  caption="At the Verificado 2018 Pop-Up Newsroom, we worked with over 100 journalists from across Mexico to design collaborative processes for monitoring and debunking misinformation spread via social networks."
            %}
            <div class="in-numbers">
                  <h3>In numbers</h3>
                  <div class="figures">
                        {%
                              include stat.html
                              number="4"
                              label="Initiatives so far"
                        %}
                        {%
                              include stat.html
                              number="3"
                              label="Award nominations"
                        %}
                        {%
                              include stat.html
                              number="300+"
                              label="Journalists trained"
                        %}
                        {%
                              include stat.html
                              number="100+"
                              label="Organizations engaged"
                        %}
                  </div>
            </div>
            <div class="grouped-column">
                  <div class="grouped-column-content">
                        <p>Founded in 2017 by Meedan and Dig Deeper Media, Pop-Up Newsroom brings together Meedan’s open source technologies for social media verification with ten years of election and event monitoring workflow expertise from Dig Deeper Media.</p>
                        <p>Fergus Bell has innovated collaborative approaches to social media verification during elections since 2008 and Meedan’s Check was first deployed for the 2012 Egyptian election.</p>
                        {% 
                              include media_image.html 
                              image="/images/Verificado-partners-working-together-to-design-a-process-for-debunking-misinformation-and-verifying-content-from-social-networks.jpg"
                              caption_title="Journalist Centered Design"
                              caption="Our process puts journalists at the heart of designing projects, building from their experience and expertise to define and test new solutions to editorial challenges."
                        %}
                        <p>Since then we have helped define the fields of social newsgathering and verification, developing workflows and technologies that have been deployed to cover events and elections around the world, from the award winning Electionland (US) to Verificado (Mexico).</p>
                        <div class="partnership">
                              {% include meedan_dig-deeper_logos.html %}
                        </div>
                  </div>
            </div>
      </div>
</section>