{% assign updates = site.data.contentful.spaces.updates.update %}
{% if updates.size != 0 %}
<section class="content latest" id="latest">
      <div class="content-wrapper">
            <h2>Latest</h2>
            <div class="updates">
                {% for update in updates %}
                    {% capture update-date %}
                        {{ update.sys.created_at | date_to_string }}
                    {% endcapture %}
                    <div class="update">
                    {% 
                        include card.html 
                        image=update.image.url
                        title=update.tag
                        block_tag = "h3"
                        date=update-date
                        description=update.title
                        filter=update.filter_image
                        link=update.link
                    %}
                    </div>
                {% endfor %}
            </div>
      </div>
</section>
{% endif %}