<section class="content process" id="process">
    <div class="content-wrapper">
        <h2>Process</h2>
        <div class="cards">
            {% 
                include card.html 
                image="/images/process_innovation.png"
                title="Innovation"
                count="1"
                description="With our tools and training we forward new workflows, new techniques, and new possibilities for newsrooms and educators, helping drive innovation across the sector."
            %}
            {% 
                include card.html 
                image="/images/process_technology.png"
                title="Technology"
                count="2"
                description="We build bespoke software for collaborative discovery, verification, and archiving of digital media and work with other technology developers to provide access to leading collaborative tools."
            %}
            {% 
                include card.html 
                image="/images/process_training.png"
                title="Training"
                count="3"
                description="We embrace a collaborative and creative model for developing and delivering trainings designed to solve existing business and workflow needs inside newsrooms."
            %}
        </div>
    </div>
</section>