<section class="content approach" id="approach">
	<div class="content-wrapper">
  	<h2>Approach</h2>
  	<p class="lead">We use human-centered design methods to engage local stakeholders, encourage coalition building, and generate creative and impactful projects.</p>
  	<div class="illustration">
  		{% include illustration_approach.html %}
  	</div>
  	<div class="grouped-column">
  		<div class="grouped-column-content">
      	<p>We work with newsrooms, independent journalists, civil society organizations, universities and technologists to design, refine and test collaborative approaches to some of journalism's most pressing challenges.</p>
      	<p>Through our human centered design process, we help news organizations scale their impact, bring new skills to their journalists, create new paths for reader engagement, and, ultimately, build new audiences for their work. </p>
    	</div>
  	</div>
	</div>
</section>