<section class="content contact" id="contact">
      <div class="content-wrapper">
            <h2>Say hi</h2>
            <p class="lead">
                  Our role is to connect news organisations through our extensive network, secure funding opportunities, manage the projects and partners and create shareable resources at all stages.
            </p>
            <div class="grouped-column">
                  <div class="grouped-column-content">
                        <p>To get involved in Pop-Up Newsroom or to get more details please fill the following form and one of our representatives will contact you once we receive your request.</p>
                        {% include contact_form.html %}
                  </div>
            </div>
      </div>
</section>