<section class="content latest" id="latest">
      <div class="content-wrapper">
            <h2>Latest</h2>
            <div class="updates">
            	<div class="update">
    			{% 
                    include card.html 
                    image="update_abstract.png"
                    title="Award"
                    block_tag = "h3"
                    date = "May 26th 2018"
                    description="Our newsroom Verificado has won the 2018 award in Excellence in Collaboration and Partnerships at the Online Journalism Awards"
                %}
              	</div>
              	<div class="update">
                {% 
                    include card.html 
                    image="update_abstract_2.png"
                    title="Award"
                    block_tag = "h3"
                    date = "May 26th 2018"
                    description="Our newsroom Verificado has won the 2018 award in Excellence in Collaboration and Partnerships at the Online Journalism Awards"
                %}
            </div>
		</div>
      </div>
</section>