$black: #10212F;
$white: #F3F4F5;
$porcelain: #E7E8EA; /* gray */
$bittersweet: #FF6666; /* pink */
$cornflower-blue: #6771FA;  /* purplish blue */
$koromiko: #FFB366; /* light orange */
$gorse: #FFE34D; /* yellow */
$tree-poppy: #FF941F; /* orange */
$malibu: #66B3FF; /* blue */
$pink: #FF66B3;