// ======================================================================
// Header

.header {
	overflow: hidden;
  top: 50px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  max-width: $page-width;
  h1, p {
  	margin: 0;
  	padding: 0;
  	font-weight: normal;
  	font-size: 1em;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.header {
		max-width: 100%;
		border: none;
		top: 0;
	}
}

.header .header-item {
	border: 1px solid;
	padding: $space-small/3;
	font-size: 1.222em;
	line-height: 1;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.header .header-item {
		font-size: 1em;
	}
}

.header-item.title,
.header-item.description {
	width: 80%;
}

.header-item.navigation,
.header-item.contact {
	width: 20.002%
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.header-item.title {
		order: 0;
	}
	.header-item.description {
		order: 1;
	}
	.header-item.navigation {
		order: 2;
		border-top: none;
	}
	.header-item.contact {
		order: 3;
		border-left: none;
		border-top: none;
	}
	.header-item.title,
	.header-item.description {
		width: 100%;
	}

	.header-item.navigation,
	.header-item.contact {
		width: 50%;
	}
}

.header-item.title {
	background-color: $black;
	color: #fff;
	border-color: $black;
}

.header-item.navigation,
.header-item.contact a {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.header-item.description,
.header-item.navigation {
	background-color: $porcelain;
}

.header-item.contact {
	background-color: $koromiko;
}

