// ======================================================================
// Landing Page

.page-section .p-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  color: #fff;
  will-change: opacity;
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

.page-section .p-header-container {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.page-section .p-header-container h2 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: $space-medium/2.66;
  max-width: 1080px;
  font-size: $large-text;
  line-height: $large-line-height;
}

// sections common
.content-wrapper {
	width: 100%;
  margin: $space-small auto $space-large auto;
	max-width: 1080px;
}

.lead {
	font-weight: normal;
	font-size: $large-text;
	line-height: $large-line-height;
}

.content-wrapper h2, h3 {
	font-weight: 500;
}

.content-wrapper h2 {
	position: relative;
	color: $black;
	background-color: #fff;
	padding: $space-small/8 $space-small $space-small/8 $space-small/4;
	display: inline-block;
	max-height: 50px;
}

.content-wrapper h2:after {
	content: '';
	position: absolute;
	top: 50px;
	left: 20px;
	width: 0;
	height: 0;
	border-top: 15px solid #fff;
	border-left: 20px solid transparent;
}

.content-wrapper p:not(:last-child) {
	margin-bottom: $space-small;
}

.content-wrapper p:not(.lead) {
	font-weight: 500;
}

.grouped-column {
	display: flex;
	flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.grouped-column-content {
	width: 60%;
}

.illustration {
	display: flex;
	align-items: center;
  justify-content: center;
	margin-bottom: $space-large;
}

// sections
.approach {
	background-color: $porcelain;
	color: $bittersweet;
}

.process {
	background-color: $porcelain;
}

.experience {
	background-color: $bittersweet;	
	color: #fff;
}

