// ======================================================================
// Stats

.partnership {
	display: flex;
	margin-top: $space-medium;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.partnership {
		flex-direction: column;
	}
}

.partnership .logo {
	margin-right: $space-medium;
}

.partnership .logo.dig-deeper {
	margin-top: 5px;
}