// ======================================================================
// Stats

.partnership {
	display: flex;
	margin-top: $space-medium;
}

.partnership .logo {
	margin-right: $space-medium;
}

.partnership .logo.dig-deeper {
	margin-top: 5px;
}