// ======================================================================
// Stats

.in-numbers {
	margin-top: $space-medium;
	margin-bottom: $space-medium;
}

.figures {
	display: flex;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.in-numbers {
		flex-direction: column;
	}
}

.stat {
	flex: 1 1 auto;
	.number {
		font-family: $font-stack-b;
		font-size: $number;
		font-weight: 300;
	}
	.label {
		font-family: $font-stack-b;
		font-weight: 400;
	}
}