// ======================================================================
// Table styles
.table {
	position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  max-width: $page-width;
  border-color: $black;
  h1, p {
  	margin: 0;
  	padding: 0;
  	font-weight: normal;
  	font-size: 1em;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.table {
		max-width: 100%;
		border: none;
		top: 0;
	}
}

.table .table-item {
	border: 1px solid;
	padding: $space-small/3;
	font-size: 1.222em;
	line-height: 1;
	width: 100%;
	background-color: $porcelain;
	color: $black;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.table .table-item {
		font-size: 1em;
		border-right: 0;
		border-top: 0;
	}

	.table .table-item:last-child {
		border-right: 1px solid;
	}
}

// tables
.table-header {
	background-color: $black;
	color: $porcelain;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: $space-small/3;
	font-size: 1.222em;
	line-height: 1;
}

.table .row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 0.9em;
}

.row:hover .table-item {
	background-color: $cornflower-blue;
	color: #fff;
	border-color: $black;
}

@include responsive('min-width: #{$width-tablet}') {
	.table .media-image {
		position: absolute;
		top: -25vh;
		left: -180px;
		display: none;
		z-index: -1;
	}

	.row:hover .media-image {
			display: block;
	}
}

.table .image img {
	display: block;
}

.table-item.expand {
	width: 70%;
	flex: 1 0 70%;
	line-height: 1.4;
}

.table-item.shrink {
	width: 30%;
	flex: 1 0 30%;
	line-height: 1.4;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.table-item.expand {
		width: 60%;
		flex: 1 0 60%;
	}
	.table-item.shrink {
		width: 40%;
		flex: 1 0 40%;
		// border-right: 1px solid;
	}
	.table-item.shrink:last-child {
		display: none;
	}
}	

.table-item.title,
.table-item.description,
.table-item.link {
	width: 100%;
}

.table-item.location,
.table-item.date {
	flex: 1 0 50%;
}

.table-item.description {
	line-height: 1.4;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.table-item.description {
		border-top: none;
	}

	.table-item.location {
		border-right: none;
	}

	.table-item.link {
		border-top: none;
	}
}

.table-item.title {
	background-color: $black;
	color: #fff;
	border-color: $black;
}

.table-item.location,
.table-item.date,
.table-item.description {
	background-color: $porcelain;
}

.table-item.link {
	background-color: $bittersweet;
	cursor: pointer;
	color: $black;
}

.table-item.link a {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.table-item.link:hover {
	background-color: darken($bittersweet, 5%);
}