// ======================================================================
// Updates
.updates {
	margin-top: $space-small;
	margin-bottom: $space-small;
}

.update .card,
.card-wrapper .card {
	margin-bottom: 0;
}

.update .card .description {
	order: -1;
}