//== Breakpoints
//
//## Three breakpoints for use in media queries

$width-mobile: 							375px;
$width-tablet: 							740px;
$width-desktop: 						980px;
$width-wide: 								1300px;
$width-mobile-landscape: 		480px;