//== Breakpoints
//
//## Three breakpoints for use in media queries
$width-mobile: 							375px;
$width-tablet: 							740px;
$width-desktop: 						980px;
$width-wide: 								1300px;
$width-mobile-landscape: 		480px;

// Page width
$page-width: 1024px;

// Type
$font-stack: 'Montserrat', -apple-system, Helvetica, Helvetica Neue, Arial, sans-serif;
$number: 6.667em;
$font-stack-b: 'IBM Plex Sans', -apple-system, sans-serif;
$font-stack-c: 'IBM Plex Mono', -apple-system, sans-serif;
$large-text: 2.667em;
$large-line-height: 1.25;
$medium-text: 2em;
$medium-line-height: 1.15;
$small-text: 0.778em;

// Space
$space-small: 2.2em;
$space-medium: 5.556em;
$space-large: 8.333em;