<!-- Set landing page as homepage -->
{% assign homepage = site.data.contentful.spaces.homepages.homepage %}
{% assign lps = site.data.contentful.spaces.landingPages.landingPage %}
{% for lp in lps %}
  {% for hp in homepage %}
    {% if lp.sys.id == hp.landing_page.sys.id  %}
      {% assign page = lp %}
      {% assign homepage = true %}
    {% endif %}
  {% endfor %}
{% endfor %}
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="page-section">
		<div class="site-wrapper">
			{% include header.html %}
			<div class="p-header" style="background-image:url({{ page.cover_image.url | append: '?fm=webp' }})">
        <div class="p-header-container">
      		 <h1 class="logo">
      			{% include logo.html %}
      			<span class="logo-text">
				    	<span class="logo-text-original">{{ page.title }}</span>
				  	</span>
      		</h1>
      		<h2>
      			{{ page.description }}
      		</h2>
      	</div>
      </div>
      {% if homepage == true %}
        {% include section_updates.html %}
      {% endif %}
      {% if page.sections %}
        {% include render_sections.html %}
      {% endif %}
      {% include footer.html %}

		</div>
		{% include js.html %}
	</body>
</html>