<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="page-section">
		<div class="site-wrapper">
			{% include header.html %}
			<div class="p-header" style="background-image:url('/images/P3070182.jpg')">
        <div class="p-header-container">
      		 <h1 class="logo">
      			{% include logo.html %}
      			<span class="logo-text">
				    	<span class="logo-text-original">{{ page.title }}</span>
				  	</span>
      		</h1>
      		<h2>
      			{{ page.description }}
      		</h2>
      	</div>
      </div>
      {% include section_updates.html %}
      {% include section_approach.html %}
      {% include section_process.html %}
      {% include section_experience.html %}
      {% include section_contact.html %}
      {% include footer.html %}
		</div>
		{% include js.html %}
	</body>
</html>