---
custom_css: newsroom
custom_js_lib: loadCSS
---
<!DOCTYPE html>
<html>
      {% include head.html %}
      <body class="page-section newsroom">
            <div class="site-wrapper">
                  <div class="p-header" style="background-image:url('//images.ctfassets.net/a1gidpdiipum/K4Wtyp0GKAoia2cGq0AWo/271cecb5406972630e62e11d5b1c12ac/Stand-up-meeting-to-start-the-day-June-30_-2018.jpg')">
                    <div class="p-header-image" style="visibility: hidden;">
                      <img src="//images.ctfassets.net/a1gidpdiipum/K4Wtyp0GKAoia2cGq0AWo/271cecb5406972630e62e11d5b1c12ac/Stand-up-meeting-to-start-the-day-June-30_-2018.jpg" />
                    </div>
                    <div class="p-header-container">
                               <a href="/"><h1 class="logo">
                                    {% include logo.html %}
                                    <span class="logo-text">
                                          <span class="logo-text-original">{{ page.title }}</span>
                                          </span>
                              </h1></a>
                        </div>
                  </div>
                  <div class="newsroom-content-wrapper" style="background-color: {{ page.color.value }};">
                    <div class="newsroom-header">
                      <div class="newsroom-header-content">
                        {% 
                          include table.html 
                          newsroom_title=page.title
                          newsroom_location=page.location.title
                          newsroom_date=page.date
                          newsroom_description=page.description
                          newsroom_external_link_label=page.external_link.label
                          newsroom_external_link_url=page.external_link.url
                        %}
                      </div>
                    </div>
                    <div class="newsroom-content content-wrapper">
                      {% include render_modules.html %}
                    </div>
                  </div>
                  {% include footer.html %}
            </div>
            {% include js.html %}
      </body>
</html>